body {
      background-color:black;
      color: white;
}
foorter{
     background-color: blue;
      color: green;
      position: fixed;
      bottom:0 ;
      width: 100%;
     }
footer{
      background-color: black;
      calor: white;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 2rem;
 footer{ 
      text-align: center;
      font-top: 0.5rem
      body {
            background-color: bisque;
            font-family: BAi janjuree;
      }
      #container {

      }Production
      #container {
      }
      #container {
            display: flex;
      }
      . cartao {
            margin: 1rem 1rem;
      }Production
      <diclass="cartao conteudo respota">
      <p> O que é javaScript?<
      }
      #container {
            display: flex;
      }Production
      . cartao {
            margin: 1rem 1rem;
      }
      <diclass="cartao conteudo respota">
      <p> O que é javaScript?</p>
      </div>
      <div class="cartao conteudo resposta">
      <p>O javaScript é uma lingagem de programção</p>
      </div
      </div>
      . cartao {
            margin: 1rem 1rem;
      background-color: aqua;
      }
      . cartao {
            margin: 1rem 1rem;
      background-color: aqua;
height: 20rm ;      
flex-grow: 1;
}

